<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
</head>
<body>
    <div class="site-wrapper">
        <main>
            <!-- The nav used to be here, we removed it so it doesn't show globally -->
            {% block content %}{% endblock content %}
        </main>

        <!-- Right Side Information -->
        <aside class="sidebar">
            <div class="sidebar-content">
                <!-- Example ASCII Art (A little cat) -->
                <pre class="ascii-art">
                  /#\
                 /###\
                /#####\
               /#######\
              _ "=######\
             /##=,_\#####\
            /#############\
           /###############\
          /#################\
         /###################\
        /########*"""*########\
       /#######/       \#######\
      /########         ########\
     /#########         ######m=,_
    /##########         ##########\
   /######***             ***######\
  /###**                       **###\
 /**                               **\\
                </pre>
                <h3>About Me</h3>
                <p>Hi, I'm a developer writing about Linux, homelabs, and everything in between.</p>
            </div>
        </aside>
    </div>
</body>
</html>
