{% extends "base.html" %}

{% block title %}
{% if section.title %}{{ section.title }}{% else %}{{ config.title }}{% endif %}
{% endblock title %}

{% block content %}
{{ section.content | safe }}

<h2>Posts</h2>

<ul class="post-list">
{% for page in section.pages %}
    <li>
        {% if page.date %}
            <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span> &mdash; 
        {% endif %}
        <a href="{{ page.permalink }}">{{ page.title }}</a>
    </li>
{% endfor %}
</ul>
{% endblock content %}

{% block sidebar %}
<aside class="sidebar">
    <div class="sidebar-content">
        <p class="obsession-text">Latest obsession:</p>
        <!-- ASCII Art -->
        <pre class="ascii-art">
                  /#\
                 /###\
                /#####\
               /#######\
              _ "=######\
             /##=,_\#####\
            /#############\
           /###############\
          /#################\
         /###################\
        /########*"""*########\
       /#######/       \#######\
      /########         ########\
     /#########         ######m=,_
    /##########         ##########\
   /######***             ***######\
  /###**                       **###\
 /**                               **\\
        </pre>
        
        <h3>About Me</h3>
        <p>
<code>while (true) {<br>
&nbsp;&nbsp;&nbsp;&nbsp;days = random.randint(7,9999);<br>
&nbsp;&nbsp;&nbsp;&nbsp;obsess_about_tech(days);<br>
&nbsp;&nbsp;&nbsp;&nbsp;get_sick_of_it();<br>
&nbsp;&nbsp;&nbsp;&nbsp;discover_new_tech();<br>
}</code>
        </p>
    </div>
</aside>
{% endblock sidebar %}
